---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'

import NationalClimateCenter1 from '../assets/web/3cim/国家气候中心 01.png'
import NationalClimateCenter2 from '../assets/web/3cim/国家气候中心 02.png'
import NationalClimateCenter3 from '../assets/web/3cim/国家气候中心 03.png'
import NationalClimateCenter4 from '../assets/web/3cim/国家气候中心 04.png'
import NationalClimateCenter5 from '../assets/web/3cim/国家气候中心 05.png'
import School1 from '../assets/mobile/校园/乐哉校园1.png'
import School2 from '../assets/mobile/校园/乐哉校园2.png'
import School3 from '../assets/mobile/校园/乐哉校园3.png'
import School4 from '../assets/mobile/校园/乐哉校园4.png'
import School5 from '../assets/mobile/校园/乐哉校园5.png'
import School6 from '../assets/mobile/校园/乐哉校园6.png'
import School7 from '../assets/mobile/校园/乐哉校园7.png'
import School8 from '../assets/mobile/校园/乐哉校园8.png'
import School9 from '../assets/mobile/校园/乐哉校园9.png'
import School10 from '../assets/mobile/校园/乐哉校园10.png'
import School11 from '../assets/mobile/校园/乐哉校园11.png'
import School12 from '../assets/mobile/校园/乐哉校园12.png'
import School13 from '../assets/mobile/校园/乐哉校园13.png'
import School14 from '../assets/mobile/校园/乐哉校园14.png'
import School15 from '../assets/mobile/校园/乐哉校园15.png'
import School16 from '../assets/mobile/校园/乐哉校园16.png'
import School17 from '../assets/mobile/校园/乐哉校园17.png'
import School18 from '../assets/mobile/校园/乐哉校园18.png'
import School19 from '../assets/mobile/校园/乐哉校园19.png'
import ArtPixel1 from '../assets/mobile/艺术/Art Pixel-1.png'
import ArtPixel2 from '../assets/mobile/艺术/Art Pixel-2.png'
import ArtPixel3 from '../assets/mobile/艺术/Art Pixel-3.png'
import ArtPixel4 from '../assets/mobile/艺术/Art Pixel-4.png'
import ArtPixel5 from '../assets/mobile/艺术/Art Pixel-5.png'
import ArtPixel6 from '../assets/mobile/艺术/Art Pixel-6.png'
import ArtPixel7 from '../assets/mobile/艺术/Art Pixel-7.png'
import ArtPixel8 from '../assets/mobile/艺术/Art Pixel-8.png'
import ArtPixel9 from '../assets/mobile/艺术/Art Pixel-9.png'
import ArtPixel10 from '../assets/mobile/艺术/Art Pixel-10.png'
import ArtPixel11 from '../assets/mobile/艺术/Art Pixel-11.png'
import ArtPixel12 from '../assets/mobile/艺术/Art Pixel-12.png'
import ArtPixel13 from '../assets/mobile/艺术/Art Pixel-13.png'
import ArtPixel14 from '../assets/mobile/艺术/Art Pixel-14.png'
import ArtPixel15 from '../assets/mobile/艺术/Art Pixel-15.png'
import ArtPixel16 from '../assets/mobile/艺术/Art Pixel-16.png'
import ArtPixel17 from '../assets/mobile/艺术/Art Pixel-17.png'
import ArtPixel18 from '../assets/mobile/艺术/Art Pixel-18.png'
import ArtPixel19 from '../assets/mobile/艺术/Art Pixel-19.png'
import ArtPixel20 from '../assets/mobile/艺术/Art Pixel-20.png'
import PapiFeed1 from '../assets/web/宠物/PapiFeed-1.png'
import PapiFeed2 from '../assets/web/宠物/PapiFeed-2.png'
import PapiFeed3 from '../assets/web/宠物/PapiFeed-3.png'
import PapiFeed4 from '../assets/web/宠物/PapiFeed-4.png'
import PapiFeed5 from '../assets/web/宠物/PapiFeed-5.png'
import PapiFeed6 from '../assets/web/宠物/PapiFeed-6.png'
import PapiFeed7 from '../assets/web/宠物/PapiFeed-7.png'
import PapiFeed8 from '../assets/web/宠物/PapiFeed-8.png'
import PapiFeed9 from '../assets/web/宠物/PapiFeed-9.png'
import PapiFeed10 from '../assets/web/宠物/PapiFeed-10.png'
import GFM1 from '../assets/web/绿色和平/GFM 01.png'
import GFM2 from '../assets/web/绿色和平/GFM 02.png'
import GFM3 from '../assets/web/绿色和平/GFM 03.png'
import GFM4 from '../assets/web/绿色和平/GFM 04.png'
import 智枢1 from '../assets/web/智枢/智枢 01.png'
import 智枢2 from '../assets/web/智枢/智枢 02.png'
import 智枢3 from '../assets/web/智枢/智枢 03.png'
import 智枢4 from '../assets/web/智枢/智枢 04.png'
import 随机密码1 from '../assets/web/随机密码/密码生成器 01.png'
import 随机密码2 from '../assets/web/随机密码/密码生成器 02.png'
import 随机密码3 from '../assets/web/随机密码/密码生成器 03.png'
import 随机密码4 from '../assets/web/随机密码/密码生成器 04.png'
import 园区后台管理系统1 from '../assets/web/园区/园区后台管理系统-1.png'
import 园区后台管理系统2 from '../assets/web/园区/园区后台管理系统-2.png'
import 园区后台管理系统3 from '../assets/web/园区/园区后台管理系统-3.png'
import 园区后台管理系统4 from '../assets/web/园区/园区后台管理系统-4.png'
import 园区后台管理系统5 from '../assets/web/园区/园区后台管理系统-5.png'
import 园区后台管理系统6 from '../assets/web/园区/园区后台管理系统-6.png'
import 园区后台管理系统7 from '../assets/web/园区/园区后台管理系统-7.png'
import 园区后台管理系统8 from '../assets/web/园区/园区后台管理系统-8.png'
import 园区后台管理系统9 from '../assets/web/园区/园区后台管理系统-9.png'

export function getStaticPaths() {
  return [
    {
      params: { project: '3CIM' },
      props: {
        images: [
          NationalClimateCenter1,
          NationalClimateCenter2,
          NationalClimateCenter3,
          NationalClimateCenter4,
          NationalClimateCenter5,
        ],
      },
    },
    {
      params: { project: 'PapiFeed' },
      props: {
        images: [
          PapiFeed1,
          PapiFeed2,
          PapiFeed3,
          PapiFeed4,
          PapiFeed5,
          PapiFeed6,
          PapiFeed7,
          PapiFeed8,
          PapiFeed9,
          PapiFeed10,
        ],
        noGap: true,
      },
    },
    { params: { project: '随机密码' }, props: { images: [随机密码1, 随机密码2, 随机密码3, 随机密码4] } },
    {
      params: { project: '园区后台管理系统' },
      props: {
        images: [
          园区后台管理系统1,
          园区后台管理系统2,
          园区后台管理系统3,
          园区后台管理系统4,
          园区后台管理系统5,
          园区后台管理系统6,
          园区后台管理系统7,
          园区后台管理系统8,
          园区后台管理系统9,
        ],
      },
    },
    { params: { project: '智枢' }, props: { images: [智枢1, 智枢2, 智枢3, 智枢4] } },
    { params: { project: '绿色和平' }, props: { images: [GFM1, GFM2, GFM3, GFM4] } },
    {
      params: { project: '乐哉校园' },
      props: {
        images: [
          School1,
          School2,
          School3,
          School4,
          School5,
          School6,
          School7,
          School8,
          School9,
          School10,
          School11,
          School12,
          School13,
          School14,
          School15,
          School16,
          School17,
          School18,
          School19,
        ],
      },
    },
    {
      params: { project: 'Art Pixel' },
      props: {
        images: [
          ArtPixel1,
          ArtPixel2,
          ArtPixel3,
          ArtPixel4,
          ArtPixel5,
          ArtPixel6,
          ArtPixel7,
          ArtPixel8,
          ArtPixel9,
          ArtPixel10,
          ArtPixel11,
          ArtPixel12,
          ArtPixel13,
          ArtPixel14,
          ArtPixel15,
          ArtPixel16,
          ArtPixel17,
          ArtPixel18,
          ArtPixel19,
          ArtPixel20,
        ],
      },
    },
  ]
}

interface Props {
  images: ImageMetadata[]
  noGap?: boolean
}

const { project } = Astro.params
const { images, noGap } = Astro.props
---

<Layout title={project} class="overflow-scroll scrollbar-hide">
  <div class="flex flex-col" style={{ gap: noGap ? '0' : '1.5rem' }}>
    {images.map((src, index) => <Image src={src} alt={project} />)}
  </div>
</Layout>
