---
import Image from 'astro/components/Image.astro'

interface Props {
  src: ImageMetadata
  alt: string
  href: string
}
const { src, alt, href } = Astro.props
---

<a href={href}>
  <Image src={src} alt={alt} class="w-147 h-82.75 b-rd-3 cursor-pointer" />
</a>
