---

---

<footer class="w-full flex flex-col gap-4 w-full">
  <div class="h-2px bg-black opacity-50 w-70.5"></div>
  <div class="h-2px bg-black opacity-50 w-45"></div>
  <div class="h-2px bg-black opacity-50 w-19.5"></div>
</footer>
