---
import PageFooter from '../components/PageFooter.astro'
import PageHeader from '../components/PageHeader.astro'

const { class: className } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hey! I'm Zimoe</title>
  </head>
  <body class="mx-a py-15 px-30 flex flex-col gap-10 justify-center bg-white contain-layout max-w-360 min-w-283.5">
    <PageHeader />
    <main class="flex flex-col gap-6" class:list={className}>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>

<style>
  html,
  body {
    width: 100%;
    height: 100%;
  }
</style>
