---
import PageFooter from '../components/PageFooter.astro'
import PageHeader from '../components/PageHeader.astro'

const { class: className, title } = Astro.props
---

<!doctype html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Hey! I'm Zimoe</title>
  </head>
  <body
    class="w-full h-full mx-a py-15 px-30 flex flex-col gap-10 justify-center bg-white contain-layout max-w-360 min-w-283.5"
  >
    <PageHeader title={title} />
    <main class="flex flex-col gap-6" class:list={className}>
      <slot />
    </main>
    <PageFooter />
  </body>
</html>

<style>
  html {
    font-size: 16px;
  }

  @media (max-height: 1440px) {
    html {
      font-size: 18px;
    }
  }

  @media (max-height: 1080px) {
    html {
      font-size: 16px;
    }
  }

  @media (max-height: 900px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-height: 768px) {
    html {
      font-size: 13px;
    }
  }

  @media (max-height: 720px) {
    html {
      font-size: 12px;
    }
  }

  @media (max-height: 640px) {
    html {
      font-size: 10px;
    }
  }
</style>
